<div class ="bar">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Login<span class="text-danger">APP</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/."  router-link='/'>Home<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link" href='./login'> Sign in<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" href="./admin/list-products" router-link='/list-products'> List Products<span class="sr-only">(current)</span></a>
          </li>  
        <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" href="./users" router-link='/users'>Products<span class="sr-only">(current)</span></a>
          </li>  
        <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" href='./profile'> Profile<span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item" *ngIf="!isLogged">
            <a class="nav-link" href="./signup" router-link='/signup'> Sign up<span class="sr-only">(current)</span></a>
          </li>  
          <li class="nav-item" *ngIf="isLogged">
            <a class="nav-link" href="./" (click)="onClickLogout()">Log out<span class="sr-only">(current)</span></a>
          </li>  
      </ul>
    </div>
  </nav>
</div>