<div class="container">
<section class="row mt-5">
    <div class="col">
        <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalProduct">New Product</button>
        <input type="text" name="filterProducts" class="form-control" placeholder="Search..." [(ngModel)]='filterProducts'>
        <table class="table table-hover mx-auto">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type</th>
                    <th scope="col">Price</th>
                    <th scope="col">&nbsp;</th>    
                    <th scope="col">&nbsp;</th>     
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products | filter:filterProducts   index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.type}}</td>
                    <td>{{product.price}}</td>
                    <td *ngIf="product.userUid == userUid || isAdmin == true; else noOwner">
                        <button class="btn btn-info" (click)="onPreUpdateBook(product)"  data-toggle="modal" data-target="#modalProduct">Update</button><span class="space">..</span>
                    </td>
                    <td *ngIf="isAdmin == true; else noAdmin">
                        <button class="btn btn-danger" (click)="onDeleteBook(product.id)">Delete</button>                        
                    </td>
                    <ng-template #noAdmin>
                    </ng-template>
                    <ng-template #noOwner>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
</section>
</div>
<app-modal [userUid]="userUid"></app-modal>