<div class="modal fade" id="modalProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{!this.dataApi.selectedProduct.id ? 'New Product' : 'Update Product'}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="formProduct" #formProduct="ngForm" (ngSubmit)="onSaveProduct(formProduct)">
            <input type="hidden" name='id' [(ngModel)]="this.dataApi.selectedProduct.id">
            <input type="hidden" class="text" name="userUid" [value]="userUid">
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="this.dataApi.selectedProduct.name">
          </div>
              <div class="form-group">
                  <label for="type">Type:</label>
                  <input type="text" class="form-control" name="type" [(ngModel)]="this.dataApi.selectedProduct.type">
              </div>
              <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="text" class="form-control" name="price" placeholder="$ 0.000"  [(ngModel)]="this.dataApi.selectedProduct.price">
              </div>
              <div class="form-group">
                    <label for="image">Image:</label>
                    <input type="text" class="form-control" name="image"  [(ngModel)]="this.dataApi.selectedProduct.image">
              </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" name="description" [(ngModel)]="this.dataApi.selectedProduct.description"></textarea>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnClose>Close</button>
                <button type="submit" class="btn btn-primary">Save Product</button>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>